html {
  text-align: center;
  background-color: black;
  Font-family: Verdana;
}

h1 {
  Font-weight: Normal;
  Font-size: 50px;
}

h1, h2 {
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
  Font-size: 16px;
}

h4 {
  color: Gray;
  font-size: 21px;
}


h3 {
  color: gray;
  text-align: right;
}
